In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
raw_path = 'data/raw/'
inst_path = 'data/inst/'

# Observing column datas

In [108]:
aeronave = pd.read_csv(raw_path + "aeronave.csv",sep=';')
aeronave

,codigo_ocorrencia2,aeronave_matricula,aeronave_operador_categoria,aeronave_tipo_veiculo,aeronave_fabricante,aeronave_modelo,aeronave_tipo_icao,aeronave_motor_tipo,aeronave_motor_quantidade,aeronave_pmd,...,aeronave_pais_fabricante,aeronave_pais_registro,aeronave_registro_categoria,aeronave_registro_segmento,aeronave_voo_origem,aeronave_voo_destino,aeronave_fase_operacao,aeronave_tipo_operacao,aeronave_nivel_dano,aeronave_fatalidades_total
0,39115,PTNQX,***,AVIÃO,NEIVA INDUSTRIA AERONAUTICA,EMB-711A,P28R,PISTÃO,MONOMOTOR,1202,...,BRASIL,BRASIL,AVIÃO,PARTICULAR,BRIGADEIRO ARARIPE MACEDO,CORRENTINA,DECOLAGEM,PRIVADA,SUBSTANCIAL,0
1,39155,PTLVI,***,AVIÃO,BEECH AIRCRAFT,C90,BE9L,TURBOÉLICE,BIMOTOR,4377,...,BRASIL,BRASIL,AVIÃO,PARTICULAR,FORA DE AERODROMO,FORA DE AERODROMO,DECOLAGEM,PRIVADA,NENHUM,0
2,39156,PPPTO,***,AVIÃO,AEROSPATIALE AND ALENIA,ATR-72-212A,AT72,TURBOÉLICE,BIMOTOR,22500,...,BRASIL,BRASIL,AVIÃO,REGULAR,AFONSO PENA,ADALBERTO MENDES DA SILVA,ARREMETIDA NO AR,REGULAR,LEVE,0
3,39158,PRLGJ,REGULAR,AVIÃO,BOEING COMPANY,757-225,B752,JATO,BIMOTOR,108862,...,BRASIL,BRASIL,AVIÃO,REGULAR,FORA DE AERODROMO,FORA DE AERODROMO,SUBIDA,REGULAR,NENHUM,0
4,39176,PRMAA,REGULAR,AVIÃO,AIRBUS INDUSTRIE,A320-232,A320,JATO,BIMOTOR,77000,...,BRASIL,BRASIL,AVIÃO,REGULAR,FORA DE AERODROMO,FORA DE AERODROMO,SUBIDA,REGULAR,NENHUM,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6183,80249,PRAJY,***,AVIÃO,BOEING COMPANY,737-48E,737,JATO,BIMOTOR,65090,...,BRASIL,BRASIL,AVIÃO,REGULAR,EDUARDO GOMES,VIRACOPOS,SUBIDA,REGULAR,NENHUM,0
6184,80251,PRAJY,***,AVIÃO,BOEING COMPANY,737-48E,737,JATO,BIMOTOR,65090,...,BRASIL,BRASIL,AVIÃO,REGULAR,VAL DE CANS / JÚLIO CEZAR RIBEIRO,PINTO MARTINS,SUBIDA,REGULAR,NENHUM,0
6185,80257,PRLBR,***,HELICÓPTERO,ROBINSON HELICOPTER,R44 II,R44,PISTÃO,MONOMOTOR,1134,...,BRASIL,BRASIL,HELICÓPTERO,PARTICULAR,***,***,***,PRIVADA,DESTRUÍDA,0
6186,80258,PTRXE,***,AVIÃO,NEIVA INDUSTRIA AERONAUTICA,EMB-721D,P32R,PISTÃO,MONOMOTOR,1633,...,BRASIL,BRASIL,AVIÃO,PARTICULAR,TANGARÁ DA SERRA,PILOTO OSVALDO MARQUES DIAS,DECOLAGEM,PRIVADA,SUBSTANCIAL,0
6187,80259,PRYRE,***,AVIÃO,AIRBUS INDUSTRIE,A320-251N,A320,JATO,BIMOTOR,77000,...,BRASIL,BRASIL,AVIÃO,REGULAR,SALGADO FILHO,GUARARAPES - GILBERTO FREYRE,CRUZEIRO,REGULAR,NENHUM,0

In [109]:
aeronave.columns

Index(['codigo_ocorrencia2', 'aeronave_matricula',
       'aeronave_operador_categoria', 'aeronave_tipo_veiculo',
       'aeronave_fabricante', 'aeronave_modelo', 'aeronave_tipo_icao',
       'aeronave_motor_tipo', 'aeronave_motor_quantidade', 'aeronave_pmd',
       'aeronave_pmd_categoria', 'aeronave_assentos',
       'aeronave_ano_fabricacao', 'aeronave_pais_fabricante',
       'aeronave_pais_registro', 'aeronave_registro_categoria',
       'aeronave_registro_segmento', 'aeronave_voo_origem',
       'aeronave_voo_destino', 'aeronave_fase_operacao',
       'aeronave_tipo_operacao', 'aeronave_nivel_dano',
       'aeronave_fatalidades_total'],
      dtype='object')

In [110]:
inst_aeronave_cols = ['codigo_ocorrencia2', 'aeronave_motor_tipo', 'aeronave_pais_fabricante',\
'aeronave_ano_fabricacao', 'aeronave_tipo_operacao','aeronave_nivel_dano']

In [111]:
fator_contrib = pd.read_csv(raw_path + "fator_contribuinte.csv",sep=';')
fator_contrib

,codigo_ocorrencia3,fator_nome,fator_aspecto,fator_condicionante,fator_area
0,39115,APLICAÇÃO DE COMANDOS,DESEMPENHO DO SER HUMANO,OPERAÇÃO DA AERONAVE,FATOR OPERACIONAL
1,39115,JULGAMENTO DE PILOTAGEM,DESEMPENHO DO SER HUMANO,OPERAÇÃO DA AERONAVE,FATOR OPERACIONAL
2,39115,PERCEPÇÃO,ASPECTO PSICOLÓGICO,INDIVIDUAL,FATOR HUMANO
3,39115,PLANEJAMENTO DE VOO,DESEMPENHO DO SER HUMANO,OPERAÇÃO DA AERONAVE,FATOR OPERACIONAL
4,39115,POUCA EXPERIÊNCIA DO PILOTO,DESEMPENHO DO SER HUMANO,OPERAÇÃO DA AERONAVE,FATOR OPERACIONAL
...,...,...,...,...,...
4480,79713,ATITUDE,ASPECTO PSICOLÓGICO,INDIVIDUAL,FATOR HUMANO
4481,79713,JULGAMENTO DE PILOTAGEM,DESEMPENHO DO SER HUMANO,OPERAÇÃO DA AERONAVE,FATOR OPERACIONAL
4482,79713,MEMÓRIA,ASPECTO PSICOLÓGICO,INDIVIDUAL,FATOR HUMANO
4483,79713,PROCESSO DECISÓRIO,ASPECTO PSICOLÓGICO,INDIVIDUAL,FATOR HUMANO
4484,79713,SUPERVISÃO GERENCIAL,DESEMPENHO DO SER HUMANO,OPERAÇÃO DA AERONAVE,FATOR OPERACIONAL

In [112]:
inst_contrib_cols = fator_contrib.columns

In [164]:
ocorrencia = pd.read_csv(raw_path + "ocorrencia.csv",sep=';')
ocorrencia

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,...,ocorrencia_dia,ocorrencia_hora,investigacao_aeronave_liberada,investigacao_status,divulgacao_relatorio_numero,divulgacao_relatorio_publicado,divulgacao_dia_publicacao,total_recomendacoes,total_aeronaves_envolvidas,ocorrencia_saida_pista
0,40211,40211,40211,40211,40211,INCIDENTE,***,***,RIO DE JANEIRO,RJ,...,03/01/2010,12:00:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
1,40349,40349,40349,40349,40349,INCIDENTE,NaN,NaN,BELÉM,PA,...,03/01/2010,11:05:00,SIM,FINALIZADA,NaN,NÃO,NaN,0,1,NÃO
2,40351,40351,40351,40351,40351,INCIDENTE,NaN,NaN,RIO DE JANEIRO,RJ,...,03/01/2010,03:00:00,SIM,FINALIZADA,NaN,NÃO,NaN,0,1,NÃO
3,39527,39527,39527,39527,39527,ACIDENTE,-13.1066666667,-55.9930555556,LUCAS DO RIO VERDE,MT,...,04/01/2010,17:30:00,SIM,FINALIZADA,A-539/CENIPA/2018,SIM,2019-10-28,0,1,NÃO
4,40324,40324,40324,40324,40324,INCIDENTE,NaN,NaN,PELOTAS,RS,...,05/01/2010,19:25:00,SIM,FINALIZADA,NaN,NÃO,NaN,0,1,NÃO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6109,80245,80245,80245,80245,80245,INCIDENTE,-8.12638,-34.92277,RECIFE,PE,...,15/08/2021,15:05:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
6110,80247,80247,80247,80247,80247,INCIDENTE,-8.713611111111,-63.90277777777,PORTO VELHO,RO,...,16/08/2021,02:30:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
6111,80251,80251,80251,80251,80251,INCIDENTE,-1.384722222222,-48.47888888888,BELÉM,PA,...,17/08/2021,15:45:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
6112,80257,80257,80257,80257,80257,ACIDENTE,-15.430833,-54.699722,DOM AQUINO,MT,...,18/08/2021,16:00:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO
6113,80259,80259,80259,80259,80259,INCIDENTE,-23.00694444444,-47.13444444444,CAMPINAS,SP,...,18/08/2021,12:45:00,SIM,FINALIZADA,***,NÃO,NaN,0,1,NÃO

In [114]:
aeronave.shape, ocorrencia.shape

((6188, 23), (6114, 22))

In [115]:
ocorrencia.ocorrencia_classificacao.value_counts()

INCIDENTE          3393
ACIDENTE           1930
INCIDENTE GRAVE     791
Name: ocorrencia_classificacao, dtype: int64

In [116]:
ocorrencia.columns

Index(['codigo_ocorrencia', 'codigo_ocorrencia1', 'codigo_ocorrencia2',
       'codigo_ocorrencia3', 'codigo_ocorrencia4', 'ocorrencia_classificacao',
       'ocorrencia_latitude', 'ocorrencia_longitude', 'ocorrencia_cidade',
       'ocorrencia_uf', 'ocorrencia_pais', 'ocorrencia_aerodromo',
       'ocorrencia_dia', 'ocorrencia_hora', 'investigacao_aeronave_liberada',
       'investigacao_status', 'divulgacao_relatorio_numero',
       'divulgacao_relatorio_publicado', 'divulgacao_dia_publicacao',
       'total_recomendacoes', 'total_aeronaves_envolvidas',
       'ocorrencia_saida_pista'],
      dtype='object')

In [160]:
inst_ocorrencia_cols = ['codigo_ocorrencia', 'codigo_ocorrencia1', 'codigo_ocorrencia2',\
'codigo_ocorrencia3', 'codigo_ocorrencia4', 'ocorrencia_classificacao', 'ocorrencia_latitude', \
                        'ocorrencia_longitude', 'ocorrencia_cidade', 'ocorrencia_uf', 'ocorrencia_dia', 'ocorrencia_hora']

In [161]:
ocorrencia_tipo = pd.read_csv(raw_path + "ocorrencia_tipo.csv",sep=';')
ocorrencia_tipo

,codigo_ocorrencia1,ocorrencia_tipo,ocorrencia_tipo_categoria,taxonomia_tipo_icao
0,39115,PANE SECA,COMBUSTÍVEL | PANE SECA,FUEL
1,39155,VAZAMENTO DE COMBUSTÍVEL,FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPON...,SCF-NP
2,39156,FOGO EM VOO,FOGO/FUMAÇA (SEM IMPACTO) | FOGO EM VOO,F-NI
3,39158,SUPERAQUECIMENTO,FALHA OU MAU FUNCIONAMENTO DO MOTOR | SUPERAQU...,SCF-PP
4,39176,FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPON...,FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPON...,SCF-NP
...,...,...,...,...
6278,80251,FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPON...,FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPON...,SCF-NP
6279,80257,INDETERMINADO,INDETERMINADO,UNK
6280,80258,COLISÃO COM FAUNA,COLISÃO COM FAUNA,WILD
6281,80258,EXCURSÃO DE PISTA,EXCURSÃO DE PISTA,RE
6282,80259,FALHA OU MAU FUNCIONAMENTO DO MOTOR,FALHA OU MAU FUNCIONAMENTO DO MOTOR,SCF-PP

In [162]:
inst_ocorrencia_tipo_cols = ['codigo_ocorrencia1', 'ocorrencia_tipo', 'ocorrencia_tipo_categoria']
inst_ocorrencia_tipo_cols

['codigo_ocorrencia1', 'ocorrencia_tipo', 'ocorrencia_tipo_categoria']

In [163]:
recomendacao = pd.read_csv(raw_path + "recomendacao.csv",sep=';')
recomendacao

,codigo_ocorrencia4,recomendacao_numero,recomendacao_dia_assinatura,recomendacao_dia_encaminhamento,recomendacao_dia_feedback,recomendacao_conteudo,recomendacao_status,recomendacao_destinatario_sigla,recomendacao_destinatario
0,39115,095/2011,2011-07-21,2011-08-01,2015-12-21,Revisar os requisitos de experiência recente p...,NÃO CUMPRIDA,ANAC,AGÊNCIA NACIONAL DE AVIAÇÃO CIVIL
1,39115,096/2011,2011-07-21,2011-08-01,2011-09-16,Divulgar o presente relatório final aos operad...,CUMPRIDA,ANAC,AGÊNCIA NACIONAL DE AVIAÇÃO CIVIL
2,39156,063/2011,2011-06-30,2011-08-01,2011-09-12,Divulgar este Relatório aos operadores de aero...,CUMPRIDA,ANAC,AGÊNCIA NACIONAL DE AVIAÇÃO CIVIL
3,39156,064/2011,2011-06-30,2011-08-01,2014-04-16,Acompanhar junto à autoridade primária de cert...,CUMPRIDA DE FORMA ALTERNATIVA,ANAC,AGÊNCIA NACIONAL DE AVIAÇÃO CIVIL
4,39235,205/2011,2011-08-29,2011-09-29,2012-11-06,Realizar uma vistoria de segurança de voo na A...,CUMPRIDA,ANAC,AGÊNCIA NACIONAL DE AVIAÇÃO CIVIL
...,...,...,...,...,...,...,...,...,...
1867,79665,IG-118/CENIPA/2019 -02,2020-10-29,2020-11-25,2020-12-17,Divulgar os ensinamentos colhidos na presente ...,CUMPRIDA,ANAC,AGÊNCIA NACIONAL DE AVIAÇÃO CIVIL
1868,79692,A-140/CENIPA/2020 - 01,2021-07-21,2021-08-16,NaN,Atuar junto ao Aeroclube de Catanduva de modo ...,AGUARDANDO RESPOSTA,ANAC,AGÊNCIA NACIONAL DE AVIAÇÃO CIVIL
1869,79713,A-146/CENIPA/2020 - 01,2021-07-08,2021-07-26,NaN,Atuar junto à empresa Plá e Silva Aviação Agrí...,AGUARDANDO RESPOSTA,ANAC,AGÊNCIA NACIONAL DE AVIAÇÃO CIVIL
1870,79713,A-146/CENIPA/2020 - 02,2021-07-08,2021-07-26,NaN,Atuar junto à empresa Plá e Silva Aviação Agrí...,AGUARDANDO RESPOSTA,ANAC,AGÊNCIA NACIONAL DE AVIAÇÃO CIVIL
1871,79713,A-146/CENIPA/2020 - 03,2021-07-08,2021-07-26,NaN,Divulgar os ensinamentos colhidos na presente ...,AGUARDANDO RESPOSTA,ANAC,AGÊNCIA NACIONAL DE AVIAÇÃO CIVIL

# Selecting and saving interesting data

In [174]:
acidentes_ids = ocorrencia[ocorrencia.ocorrencia_classificacao == 'ACIDENTE'][['codigo_ocorrencia','codigo_ocorrencia1','codigo_ocorrencia2','codigo_ocorrencia3','codigo_ocorrencia4']]
acidentes_ids

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4
3,39527,39527,39527,39527,39527
11,40069,40069,40069,40069,40069
13,39507,39507,39507,39507,39507
14,40107,40107,40107,40107,40107
15,39315,39315,39315,39315,39315
...,...,...,...,...,...
6092,80236,80236,80236,80236,80236
6093,80227,80227,80227,80227,80227
6099,80233,80233,80233,80233,80233
6101,80237,80237,80237,80237,80237
6112,80257,80257,80257,80257,80257

In [175]:
inst_aeronave = aeronave[inst_aeronave_cols]
inst_aeronave.head()

,codigo_ocorrencia2,aeronave_motor_tipo,aeronave_pais_fabricante,aeronave_ano_fabricacao,aeronave_tipo_operacao,aeronave_nivel_dano
0,39115,PISTÃO,BRASIL,1979.0,PRIVADA,SUBSTANCIAL
1,39155,TURBOÉLICE,BRASIL,1979.0,PRIVADA,NENHUM
2,39156,TURBOÉLICE,BRASIL,2008.0,REGULAR,LEVE
3,39158,JATO,BRASIL,1984.0,REGULAR,NENHUM
4,39176,JATO,BRASIL,2001.0,REGULAR,NENHUM

In [176]:
inst_aeronave = inst_aeronave.drop_duplicates()
inst_aeronave.head()

,codigo_ocorrencia2,aeronave_motor_tipo,aeronave_pais_fabricante,aeronave_ano_fabricacao,aeronave_tipo_operacao,aeronave_nivel_dano
0,39115,PISTÃO,BRASIL,1979.0,PRIVADA,SUBSTANCIAL
1,39155,TURBOÉLICE,BRASIL,1979.0,PRIVADA,NENHUM
2,39156,TURBOÉLICE,BRASIL,2008.0,REGULAR,LEVE
3,39158,JATO,BRASIL,1984.0,REGULAR,NENHUM
4,39176,JATO,BRASIL,2001.0,REGULAR,NENHUM

In [177]:
s =  set(acidentes_ids.codigo_ocorrencia2)
inst_aeronave['tipo_acidente'] = inst_aeronave.codigo_ocorrencia2.apply(lambda x: 'ACCIDENTE' if x in s else 'INCIDENTE')

In [178]:
inst_aeronave['tipo_acidente'].value_counts()

INCIDENTE    4245
ACCIDENTE    1943
Name: tipo_acidente, dtype: int64

In [179]:
inst_aeronave.to_parquet(inst_path + "aeronave.parquet")

In [180]:
inst_fator_contrib = fator_contrib[inst_contrib_cols]
inst_fator_contrib.head()

,codigo_ocorrencia3,fator_nome,fator_aspecto,fator_condicionante,fator_area
0,39115,APLICAÇÃO DE COMANDOS,DESEMPENHO DO SER HUMANO,OPERAÇÃO DA AERONAVE,FATOR OPERACIONAL
1,39115,JULGAMENTO DE PILOTAGEM,DESEMPENHO DO SER HUMANO,OPERAÇÃO DA AERONAVE,FATOR OPERACIONAL
2,39115,PERCEPÇÃO,ASPECTO PSICOLÓGICO,INDIVIDUAL,FATOR HUMANO
3,39115,PLANEJAMENTO DE VOO,DESEMPENHO DO SER HUMANO,OPERAÇÃO DA AERONAVE,FATOR OPERACIONAL
4,39115,POUCA EXPERIÊNCIA DO PILOTO,DESEMPENHO DO SER HUMANO,OPERAÇÃO DA AERONAVE,FATOR OPERACIONAL

In [181]:
inst_fator_contrib = inst_fator_contrib.drop_duplicates()
inst_fator_contrib.head()

,codigo_ocorrencia3,fator_nome,fator_aspecto,fator_condicionante,fator_area
0,39115,APLICAÇÃO DE COMANDOS,DESEMPENHO DO SER HUMANO,OPERAÇÃO DA AERONAVE,FATOR OPERACIONAL
1,39115,JULGAMENTO DE PILOTAGEM,DESEMPENHO DO SER HUMANO,OPERAÇÃO DA AERONAVE,FATOR OPERACIONAL
2,39115,PERCEPÇÃO,ASPECTO PSICOLÓGICO,INDIVIDUAL,FATOR HUMANO
3,39115,PLANEJAMENTO DE VOO,DESEMPENHO DO SER HUMANO,OPERAÇÃO DA AERONAVE,FATOR OPERACIONAL
4,39115,POUCA EXPERIÊNCIA DO PILOTO,DESEMPENHO DO SER HUMANO,OPERAÇÃO DA AERONAVE,FATOR OPERACIONAL

In [182]:
s =  set(acidentes_ids.codigo_ocorrencia3)
inst_fator_contrib['tipo_acidente'] = inst_fator_contrib.codigo_ocorrencia3.apply(lambda x: 'ACCIDENTE' if x in s else 'INCIDENTE')

In [183]:
inst_fator_contrib['tipo_acidente'].value_counts()

ACCIDENTE    3601
INCIDENTE     884
Name: tipo_acidente, dtype: int64

In [184]:
inst_fator_contrib.to_parquet(inst_path + "fator_contrib.parquet")

In [185]:
inst_ocorrencia = ocorrencia[inst_ocorrencia_cols]
inst_ocorrencia.head()

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,ocorrencia_dia,ocorrencia_hora
0,40211,40211,40211,40211,40211,INCIDENTE,***,***,RIO DE JANEIRO,RJ,03/01/2010,12:00:00
1,40349,40349,40349,40349,40349,INCIDENTE,NaN,NaN,BELÉM,PA,03/01/2010,11:05:00
2,40351,40351,40351,40351,40351,INCIDENTE,NaN,NaN,RIO DE JANEIRO,RJ,03/01/2010,03:00:00
3,39527,39527,39527,39527,39527,ACIDENTE,-13.1066666667,-55.9930555556,LUCAS DO RIO VERDE,MT,04/01/2010,17:30:00
4,40324,40324,40324,40324,40324,INCIDENTE,NaN,NaN,PELOTAS,RS,05/01/2010,19:25:00

In [186]:
inst_ocorrencia = inst_ocorrencia.drop_duplicates()
inst_ocorrencia.head()

,codigo_ocorrencia,codigo_ocorrencia1,codigo_ocorrencia2,codigo_ocorrencia3,codigo_ocorrencia4,ocorrencia_classificacao,ocorrencia_latitude,ocorrencia_longitude,ocorrencia_cidade,ocorrencia_uf,ocorrencia_dia,ocorrencia_hora
0,40211,40211,40211,40211,40211,INCIDENTE,***,***,RIO DE JANEIRO,RJ,03/01/2010,12:00:00
1,40349,40349,40349,40349,40349,INCIDENTE,NaN,NaN,BELÉM,PA,03/01/2010,11:05:00
2,40351,40351,40351,40351,40351,INCIDENTE,NaN,NaN,RIO DE JANEIRO,RJ,03/01/2010,03:00:00
3,39527,39527,39527,39527,39527,ACIDENTE,-13.1066666667,-55.9930555556,LUCAS DO RIO VERDE,MT,04/01/2010,17:30:00
4,40324,40324,40324,40324,40324,INCIDENTE,NaN,NaN,PELOTAS,RS,05/01/2010,19:25:00

In [187]:
inst_ocorrencia.ocorrencia_classificacao.value_counts()

INCIDENTE          3393
ACIDENTE           1930
INCIDENTE GRAVE     791
Name: ocorrencia_classificacao, dtype: int64

In [188]:
inst_ocorrencia.to_parquet(inst_path + "ocorrencia.parquet")

In [189]:
inst_ocorrencia_tipo = ocorrencia_tipo[inst_ocorrencia_tipo_cols]
inst_ocorrencia_tipo

,codigo_ocorrencia1,ocorrencia_tipo,ocorrencia_tipo_categoria
0,39115,PANE SECA,COMBUSTÍVEL | PANE SECA
1,39155,VAZAMENTO DE COMBUSTÍVEL,FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPON...
2,39156,FOGO EM VOO,FOGO/FUMAÇA (SEM IMPACTO) | FOGO EM VOO
3,39158,SUPERAQUECIMENTO,FALHA OU MAU FUNCIONAMENTO DO MOTOR | SUPERAQU...
4,39176,FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPON...,FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPON...
...,...,...,...
6278,80251,FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPON...,FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPON...
6279,80257,INDETERMINADO,INDETERMINADO
6280,80258,COLISÃO COM FAUNA,COLISÃO COM FAUNA
6281,80258,EXCURSÃO DE PISTA,EXCURSÃO DE PISTA
6282,80259,FALHA OU MAU FUNCIONAMENTO DO MOTOR,FALHA OU MAU FUNCIONAMENTO DO MOTOR

In [190]:
inst_ocorrencia_tipo = ocorrencia_tipo.drop_duplicates()
inst_ocorrencia_tipo

,codigo_ocorrencia1,ocorrencia_tipo,ocorrencia_tipo_categoria,taxonomia_tipo_icao
0,39115,PANE SECA,COMBUSTÍVEL | PANE SECA,FUEL
1,39155,VAZAMENTO DE COMBUSTÍVEL,FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPON...,SCF-NP
2,39156,FOGO EM VOO,FOGO/FUMAÇA (SEM IMPACTO) | FOGO EM VOO,F-NI
3,39158,SUPERAQUECIMENTO,FALHA OU MAU FUNCIONAMENTO DO MOTOR | SUPERAQU...,SCF-PP
4,39176,FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPON...,FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPON...,SCF-NP
...,...,...,...,...
6278,80251,FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPON...,FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPON...,SCF-NP
6279,80257,INDETERMINADO,INDETERMINADO,UNK
6280,80258,COLISÃO COM FAUNA,COLISÃO COM FAUNA,WILD
6281,80258,EXCURSÃO DE PISTA,EXCURSÃO DE PISTA,RE
6282,80259,FALHA OU MAU FUNCIONAMENTO DO MOTOR,FALHA OU MAU FUNCIONAMENTO DO MOTOR,SCF-PP

In [191]:
s =  set(acidentes_ids.codigo_ocorrencia1)
inst_ocorrencia_tipo['tipo_acidente'] = inst_ocorrencia_tipo.codigo_ocorrencia1.apply(lambda x: 'ACCIDENTE' if x in s else 'INCIDENTE')

In [192]:
inst_ocorrencia_tipo.tipo_acidente.value_counts()

INCIDENTE    4257
ACCIDENTE    2026
Name: tipo_acidente, dtype: int64

In [193]:
inst_ocorrencia_tipo.to_parquet(inst_path + "ocorrencia_tipo.parquet")